# ==========================================
# IndiaMART Review App - Production Env Variables
# ==========================================

# MongoDB Database Connection String (Local or MongoDB Atlas)
# Example MongoDB Atlas: mongodb+srv://<username>:<password>@cluster0.mongodb.net/indiamart_db?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://feedback90_db_user:NRZnHBFa93X8mbJF@review.ekzwgha.mongodb.net/indiamartreview_db

# Optional Admin Credentials Overrides
ADMIN_USERNAME=admin@indiamart.com
ADMIN_PASSWORD=IndiaMart@Admin2026!

# Node Environment
NODE_ENV=production
